<div class="card text-center text-white bg-dark mb-3">
    <a href="/post/{{id}}"></a>
    <h2>{{title}}</h2>
    <img class="card-img-top" src="{{filename}}" id="img-preview" width="300" height="250" />
    <div class="card-body">
        <p class="card-text">{{post_content}}</p>
    </div>
</div>